.cta {

    .form-input {
        border-color: transparent;
        border-radius: 2px;
    }
}

.cta-inner {
	padding-left: 16px;
	padding-right: 16px;
    background-color: get-color(primary, 3);
	background-image: url(../../../images/cta-illustration.svg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;    
}

@include media( '>medium' ) {

.cta {

    .form-input {
        min-width: 280px;
    }
}    

	.cta-inner {
		padding-left: 48px;
		padding-right: 48px;
	}
}

.overlap-code {
  margin-top: -10px;
  width: 100%;
  height: 100%;
  position: relative;

  section &:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgb(40, 44, 52);
    background: linear-gradient(0deg, rgb(40, 44, 52) 0%, rgba(46,45,45, 0.8) 100%);
  }
}
